{% extends "base.html.twig" %}

{% block title %}Ajouter une recette{% endblock title %}

{% block body %}
    <h1 class="text text-primary text-center text-uppercase "> Ajouter une recette</h1>

    {{ form_start(form) }}
        <div class="row">
            <div class="col-sm-6">
                {{ form_row(form.title) }}
            </div>
            <div class="col-sm-6">
                {{ form_row(form.slug) }}
            </div>
        </div>
        {{ form_row(form.duration) }}
        {{ form_row(form.content) }}

        {{ form_row(form.submit, {'label' : 'Ajouter'}) }}

    {{ form_end(form) }}
{% endblock body %}